{% extends "base.html" %}

{% block body %}
<div class="contenedor-ingresar-datos">
<form action="{{url_for('resultadoDireccion')}}" method="POST" class="row g-3">
    <table class="table">
        <h3 class="titulo-ingresar-datos"> Ingrese los datos del vector </h3>
        <div class="">  
            <input type="text" readonly="readonly" name="nFilas" value="{{data['nFilas']}}"  class="form-control ocultarInput" placeholder="{{data['nFilas']}}">
        </div>
        <thead>
            <!--<tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
            </tr>-->
        </thead>
            {% for f in range(0, data['nFilas']) %}
            <tr>
                <td>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label"></label>
                        <input type="number" class="form-control" id="exampleInputEmail1" name="{{f+1}}"
                            aria-describedby="emailHelp" required>
                    </div>
                </td>
                {% endfor %}
            </tr>
            </tbody>
    </table>
    <button type="submit" class="boton">Calcular</button>
</form>
<button class="boton-volver mt-4" onclick="history.back()" href="javascript:history.back()"> Volver </button>
</div>
{% endblock %}